body {
    font-family: "Alumni Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 4vh;
    text-align: center;
    letter-spacing: .2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #E5D3A78A;
}


.menu-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}
.menu-btn img {
    height: 5vh;
    width: auto;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #e6d9ba;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
}

.menu-content a {
    font-size: 3vh;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
    text-align: left;
}

.menu-content a:hover {
    border-radius: 8px;
    background-color: #c9bdbd;
}

.menu-content.show {
    display: flex;
}

.picture-container {
    gap: 3vw;
}
.picture-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.picture-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.picture-whole {
    width: 90vw;
}
.picture-half {
    width: 44.5vw;
}
.picture-half-container {
    justify-content: space-between;
}
.picture {
    width: 30vw;
    height: auto;
    object-fit: contain;
}
.quote-wrapper {
    width: 70vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.subtitle {
    padding-top: 10vh;
}
.about-wrapper {
    width: 70vw;
    padding-bottom: 10vh;
    
}
.contact-link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .picture {
        width: 90%;
    }

    .quote-wrapper {
        width: 90%;
    }

    .picture-container {
        flex-direction: column;
        align-items: center;
    }
}


h2 {
    font-weight: normal;
    width: 100%;
    font-size: 4vh;
}
h3 {
    font-weight: normal;
    width: 100%;
    font-size: 2vh;
    line-height: 3vh;
    
}